useDynLib(rsfgseaR, .registration = TRUE)
export(fgsea)
export(fgseaMultilevel)
export(fgseaSimple)
export(gmtPathways)
export(plotEnrichment)
export(readRanks)
export(rsfgseaVersion)
export(rsfgsea_version)
export(supportedModes)
export(supported_modes)
export(writeGmtPathways)
